tts-secret/notes-imgtotxt-7b07c59d85c6.json
*.mp3
*.mp4
*.jpg
*.xlsx
*.json
__pycache__
.vscode
audios
images
splits
venv
0.SM-Reference.docx
*.wav
*.gif
*.png
*.webp
SadTalker/
Wav2Lip/
gfpgan/
pytorch3d/
temp/*
node
package-lock.json
node_modules/.package-lock.json
node_modules
backup/*
youtube_uploader_secrets.js
*secret*
youtube_profile/*
*video_records*
video_records.xlsx
~$video_records.xlsx
~$bulkShorts_input.xlsx
*.xlsx
background_videos/*

bulkShorts_input.xlsx
bulkShorts_input.json
puppeteer-obs.log
bulkShorts_input.xlsx
edit_vid_input/*
edit_vid_output/*
convert_to_alpha-del.py
add_overlays-del.py
overlays/*